extends layout

block content
  h1= message
  h2= "Can't find that book, try again!"
  h2= "Can't find that book, try again!"
  h2= "Can't find that book, try again!"
  h2= "Can't find that book, try again!"
  h2= "Can't find that book, try again!"
  h1 from the error in the view
  hr